.div_btn_form_auth{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns_auth{
    display: flex;
    width: auto;
    place-items: center;
    justify-content: center;
    width: 70%;
    font: 500 1em var(--font-1);
    background-color: #303A73;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}