@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&display=swap');

.p_auth {
    font:400 0.8em 'Inter';
    margin: 0.5vw 0;
}
.input_auth{
    text-indent: 5px;
    height: 4vh;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: #F2F2F2;
}